<div style="width:769px; height: 450px; border:1px dotted #aaa; margin: 0 auto;">
    <h1 style="text-align:center">Página não encontrada!</h1>
    <ul>
        <li>Verifique se a URL foi digitada corretamente</li>
        <li>Verifique se o firewall está configurado corretamente</li>
        <li>Verifique se o proxy está configurado corretamente</li>
    </ul>
</div>